@import "../../assets/styles/global.scss";

.borderTop {
  border-top: 1px solid #e7d9d9;
  padding-top: 1.5rem;
}

.table,
.itable {
  .overflow {
    height: 400px;
    overflow: auto;
  }

  .rTable {
    // display: flex;
    // flex-direction: column;
    // width: 100%;

    .rTableHeading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .rTableBody {
      display: flex;
      justify-content: space-between;
    }

    .rTableRow {
      display: flex;
      background: #fff;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 5px 0px;
      border-radius: 10px;
      box-shadow: 0px 3px 10px #00000029;
    }

    .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
    }

    .rTableCell,
    .rTableHead {
      flex: 1;
      padding: 1px 22px;
      align-self: center;
      font-size: 12px;
      font-weight: bold;
      color: #707070;
    }

    .rTableHead {
      text-align: center;
    }

    .rTableCell {
      color: $black;
      align-content: center;
      font-weight: 400;
      a {
        color: $black;
        font-weight: 400;
      }
    }
    .expand {
      height: 30px;
      width: 70px;
      border: 1px solid #0093e9;
      border-radius: 7px;
      font-size: 10px;
      padding: 2px 2px;
    }
    .badge {
      width: 65px;
      height: 20px;
      color: white;
      align-items: center;
    }
    .combine-data {
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: bold;

      color: #0093e9;

      .round-sign {
        margin-right: 10px;
        border-radius: 100%;
        background-color: #ffbcc4;
        font: Bold 11px Roboto;
        letter-spacing: 0px;
        height: 26px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.editTable {
  .square-box {
    width: 25px;
    height: 20px;
    background-color: $lightBlue;
    border-radius: 5px;
    margin-right: 5px;
  }
  .rTable {
    .input-group,
    .form-group {
      .react-date-picker__wrapper {
        border: none;
      }
      .react-datepicker__month-wrapper {
        height: 30px;
        width: 205px;
      }

      margin-bottom: 0;
      border-bottom: none;

      .form-field {
        border: none;
        font-size: 12px;
        color: black;
        :focus {
          box-shadow: none;
        }
      }
    }

    .rTableRow {
      padding: 0;

      .divider {
        font-size: 10px;
        color: black;
      }

      .rTableCell {
        border-right: 1px solid #d6d6d6;
        padding: 5px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          border-right: none;
        }

        .form-group {
          flex-basis: 100%;

          .form-field {
            width: 100%;
            font-size: 12px;
          }

          .form-field1 {
            width: 30%;
            font-size: 12px;
            border: none;
          }
        }
      }
    }
  }
}
.cursorP {
  cursor: pointer;
}
.inp-grp input,
.inp-grp input:focus,
input:disabled {
  border: none;
  text-align: center;
  background-color: white !important;
}
.inp-grp input::placeholder {
  // color: red !important;
  opacity: 0.5;
}
.txtColor {
  color: #707070;
}
.txtBlue {
  color: #0093e9;
}
.drop-pad {
  padding: 0.5rem 0.4rem;
  box-shadow: 0px 2px 4px 2px #00000029;
}

.required-field::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
.css-yk16xz-control {
  border: none !important;
  outline: none;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.placeholder_name {
  font-size: 16px;
  color: #a8a8a8;
  padding-bottom: 2px;
  display: block;
}
.ribbon-space {
  margin-top: 4rem;
}
.txt-inventory {
  font-weight: 600;
  font-size: 16px;
  align-self: center;
  overflow: hidden;
  color: #ffffff;
}
.txt {
  font-weight: 600;
  font-size: 14px;
  align-self: center;
  overflow: hidden;
}
.txt1 {
  font-weight: 500 !important;
  font-size: 14px;
  align-self: center;
  color: #444 !important;
}
.rounded1 {
  border-radius: 15px !important;
  margin-top: 5px;
  box-shadow: 0px 3px 10px #e4e4e4 !important;
}
.table-inventory {
  box-shadow: 0px 3px 10px #e4e4e4 !important;
  border-radius: 15px !important;
  width: 102%;
}
.Bmanufacturer-add-inventory {
  position: relative;
  left: 3.5rem;
  @media screen and (min-width: (1366px)) {
    position: relative;
    left: 5.5rem;
  }
  @media screen and (min-width: (1566px)) {
    position: relative;
    left: 8rem;
  }
  @media screen and (min-width: (1766px)) {
    position: relative;
    left: 10rem;
  }
}
.manufacturer-add-inventory {
  position: relative;
  // right: 20px;
  left: 1rem;
}
.batch-add-inventory {
  position: relative;
  left: 42px;
}
.Bbatch-add-inventory {
  position: relative;
  left: 5rem;
  @media screen and (min-width: (1366px)) {
    position: relative;
    left: 8rem;
  }
  @media screen and (min-width: (1566px)) {
    position: relative;
    left: 10rem;
  }
  @media screen and (min-width: (1766px)) {
    position: relative;
    left: 12rem;
  }
}
.Bproduct-add-inventory {
  position: relative;
  left: -10px;
}
.product-add-inventory {
  margin-left: -50px;
}
.Bproduct-cat-add-inventory {
  position: relative;
  left: -45px;
}
.product-cat-add-inventory {
  position: relative;
  left: -55px;
  //margin-right: 0px;
}
.Bquantity-add-inventory {
  position: relative;
  left: 4rem;
  @media screen and (min-width: (1366px)) {
    position: relative;
    left: 5.5rem;
  }
  @media screen and (min-width: (1566px)) {
    position: relative;
    left: 8rem;
  }
  @media screen and (min-width: (1766px)) {
    position: relative;
    left: 10rem;
  }
}
.quantity-add-inventory {
  position: relative;
  // left: 15px;
}
.mfg-add-inventory {
  position: relative;
  left: -20px;
}
.exp-add-inventory {
  position: relative;
  left: -10px;
}
.bttn-orange {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  float: right;
}
.orange-warning {
  border-color: #ff9800;
  color: orange;
}

.orange-warning:hover {
  background: #ff9800;
  color: white;
}
.bttn-blue {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  float: right;
}
.blue-primary {
  border-color: #0093e9;
  color: #0093e9;
}

.blue-primary:hover {
  background: #0093e9;
  color: white;
}
.d-head {
  font-size: 14px;
  color: #707070;
}

.select-placeholder-text-manufacturer {
  color: #b8b8b8;
  font-size: 14px;
}
.select-placeholder-text-prod-category {
  color: #495057;
  font-size: 14px;
  position: relative;
  // left: 35px;
}
.select-placeholder-text-prod {
  width: 14rem;
  color: #495057;
  font-size: 14px;
  position: relative;
  left: 15px;
}
.css-1s2u09g-control {
  border: 0 !important;
}
/* .btn{
      width: 60px;
      height: 30px;
      font:8px/14px $roboto;
      letter-spacing: 0px;
    }
    .btn:hover{
      background-color: none;
    } */

.acc-table {
  tbody {
    tr {
      box-shadow: none !important;
    }
  }
}
