.navBar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  grid-area: header-area;
  width: 100%;
  height: 85px;
  background: #fff;
  color: #0b65c1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px;
}
.navContainer {
  padding: 0 1.25rem;
}
.read {
  text-decoration: "none";
  background-color: #f1eeee;
}
.unread {
  text-decoration: "none";
  background-color: #fff;
}

.navContent {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 14rem;
}
.navList {
  display: flex;
  align-items: center;
}
.navItems {
  margin: 0 2.5rem;
  list-style: none;
  cursor: pointer;
}
.navItems:last-child {
  margin-left: 0;
  margin-right: 0;
}
.navList .notifyList {
  margin-left: 0;
  margin-right: 2rem;
}
.navList .divider {
  height: 3rem;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-right: 0.6rem;
  border: 1px solid #0466c8;
  border-radius: 7px;
  padding: 3px 10px;
}
.searchHide {
  display: none;
}
.searchBar .searchInput {
  font-size: 0.9rem;
}
.navBar .hambergerMenu {
  display: none;
}
.navBar .navIcons {
  font-size: 1.5rem;
}
.navBar .navIcons .notify {
  font-size: 1.5rem;
}
.location {
  display: flex !important;
  align-items: center !important;
  margin-right: 0.6rem;
}
.navCard {
  margin-left: 1rem;
}
.navlocation {
  margin-left: 0.5rem;
}
.profileName {
  text-align: left;
  margin-left: 0.2rem;
}
.nav-heading {
  font-size: 1rem;
  margin: 0 !important;
  color: #0b65c1;
  font-weight: bold !important;
}
.nav-subheading {
  font-size: 0.8rem;
  margin: 0 !important;
  color: #0b65c1;
  font-weight: normal !important;
}
@media screen and (max-width: 1280px) {
  .logo img {
    width: 14.3rem;
  }
  .navItems {
    margin: 0 1.8rem;
    list-style: none;
  }
  .navItems:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  .navCard {
    margin-left: 0.7rem;
  }
  .navBar .navIcons {
    font-size: 1.4rem;
  }
  .navBar .navIcons .notify {
    font-size: 1.4rem;
  }
  .nav-heading {
    font-size: 0.9rem;
  }
  .nav-subheading {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 992px) {
  .logo img {
    width: 12.5rem;
  }
  .navItems {
    margin: 0 1.2rem;
    list-style: none;
  }
  .navItems:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  .navCard {
    margin-left: 0.6rem;
  }
  .navBar .navIcons {
    font-size: 1.25rem;
  }
  .navBar .navIcons .notify {
    font-size: 1.25rem;
    margin-right: 0.3rem;
  }
  .searchBar {
    width: 180px;
  }
  .navList .notifyList {
    margin-left: 0;
    margin-right: 1.5rem;
  }
  .divider {
    margin-left: 0.6rem;
  }
  .nav-heading {
    font-size: 0.8rem;
  }
  .nav-subheading {
    font-size: 0.6rem;
  }
  .css-137ul40-MuiButtonBase-root-MuiIconButton-root {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 786px) {
  .logo img {
    width: 11.2rem;
  }
  .navList {
    display: none;
  }
  .navBar .hambergerMenu {
    display: block;
    font-size: 1.8rem;
  }
}
.MuiAutocomplete-popupIndicator {
  transform: rotate(0) !important;
}
@media screen and (max-width: 992px) {
  .MuiAutocomplete-popupIndicator {
    display: none !important;
  }
}
.MuiList-root {
  padding: 1rem !important;
}
